{% extends 'base.html' %}
{% load static %}

{% block title %}{{ single_resume.name }}{% endblock %}
{% block phone %}{{ single_resume.phone }}{% endblock %}
{% block content %}
{% block single_resume %}
<main>
    <section class="hero d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="hero-text">
                        <div class="hero-title-wrap d-flex align-items-center mb-4">
                            <img src="{{ single_resume.image.url }}"
                                 class="avatar-image avatar-image-large img-fluid" alt="">
                            <h1 class="hero-title ms-3 mb-0">Hello friend!</h1>
                        </div>
                        <h2 class="mb-4">I'm a {{ single_resume.position }}</h2>
                        <p class="mb-4"><a class="custom-btn btn custom-link" href="#section_2">Let's begin</a></p>
                    </div>
                </div>
                <div class="col-lg-5 col-12 position-relative">
                    <div class="hero-image-wrap"></div>
                    <img src="{{ hero_img.url }}"
                         class="hero-image img-fluid" alt="">
                </div>

            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#535da1" fill-opacity="1"
                  d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
        </svg>
    </section>
    <section class="about section-padding" id="section_2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img src="{{ intro_img.url }}" class="about-image img-fluid" alt="">
                </div>
                <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                    <div class="about-thumb">
                        <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                            <h2 class="text-white me-4 mb-0">My Story</h2>
                            <img src="{{ single_resume.image.url }}" class="avatar-image img-fluid" alt="">
                        </div>
                        <h3 class="pt-2 mb-3">A little bit about {{ single_resume.name }}</h3>
                        <p>
                            {{ single_resume.story }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="profile-thumb">
                        <div class="profile-title">
                            <h4 class="mb-0">Information</h4>
                        </div>
                        <div class="profile-body">
                            <p>
                                <span class="profile-small-title">Name</span>
                                <span>{{ single_resume.name }}</span>
                            </p>
                            <p>
                                <span class="profile-small-title">Birthday</span>
                                <span>{{ single_resume.birthday }}</span>
                            </p>
                            <p>
                                <span class="profile-small-title">Phone</span>
                                <span><a href="tel: {{ single_resume.phone }}">{{ single_resume.phone }}</a></span>
                            </p>
                            <p>
                                <span class="profile-small-title">Email</span>
                                <span><a href="mailto:{{ single_resume.email }}">{{ single_resume.email }}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                    <div class="about-thumb">
                        <div class="row">
                            <div class="col-lg-6 col-6 featured-border-bottom py-2">
                                <strong class="featured-numbers-cus">{{ single_exp }}</strong>
                                <p class="featured-text">Years of Experiences</p>
                            </div>
                            <div class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-2">
                                <strong class="featured-numbers-cus">{{ single_resume.part_project }}</strong>
                                <p class="featured-text">Participating Projects</p>
                            </div>
                            <div class="col-lg-6 col-6 pt-4">
                                <strong class="featured-numbers-cus">{{ single_resume.university }}</strong>
                                <p class="featured-text">Graduate From University</p>
                            </div>
                            <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
                                <strong class="featured-numbers-cus">{{ single_resume.gpa }}</strong>
                                <p class="featured-text">GPA</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="clients section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-12">
                    <h3 class="text-center mb-5">Companies I've had worked</h3>
                </div>
                <div class="row">
                {% for company in list_company %}
                    <div class="col-lg-6 col-sm-4 clients-item-height">
                        <img src="{{ company.company_img.url }}" class="clients-image img-fluid" alt="">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section class="services section-padding" id="section_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <img style="border-radius: 0px" src="{% static 'images/skills.png' %}"
                             class="avatar-image img-fluid" alt="">
                        <h2 class="text-white ms-4 mb-0">My skill</h2>
                    </div>
                    <div class="row pt-lg-5">
                    {% for obj in list_detailTechnical %}
                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="d-flex flex-wrap align-items-center border-bottom mb-4 pb-3">
                                    <h3 class="mb-0">{{ obj.tech_name }}</h3>
                                    <div class="services-price-wrap ms-auto">
                                        <p class="services-price-text mb-0">{{ obj.tech_level }}/5 <i class="fa-solid fa-star"></i></p>
                                        <div class="services-price-overlay"></div>
                                    </div>
                                </div>
                            {% for item in list_technical %}
                                {% if obj.tech_name_id == item.id %}
                                <p>{{ item.tech_description }}</p>
                                <div class="services-icon-wrap d-flex justify-content-center align-items-center">
                                    <i class="services-icon {{ item.script_code }}"></i>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects section-padding" id="section_4">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                        <img style="border-radius: 0px" src="{% static 'images/hiring.png' %}" class="avatar-image img-fluid" alt="">
                        <h2 class="text-white ms-4 mb-0">Projects</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% for project in list_project %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="projects-thumb">
                        <div class="projects-info">
                            <small class="projects-tag">{{ project.project_des }}</small>
                            <h3 class="projects-title">{{ project.project_name }}</h3>
                        </div>
                        <a href="{{ project.project_image.url }}" class="popup-image">
                            <img src="{{ project.project_image.url }}" class="projects-image img-fluid"
                                 alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="contact section-padding" id="section_5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 mx-auto">
                    <div class="section-title-wrap d-flex justify-content-center align-items-center mb-5">
                        <img src="{{ single_resume.image.url }}"
                             class="avatar-image img-fluid" alt="">
                        <h2 class="text-white ms-4 mb-0">The End</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-3 col-md-6 col-12 pe-lg-0">
                    <div class="contact-info contact-info-border-start d-flex flex-column">
                        <strong class="site-footer-title d-block mt-4 mb-3">Stay connected</strong>
                        <ul class="social-icon">
                            {% if single_resume.email != None %}
                            <li class="social-icon-item"><a href="{{ single_resume.email }}" class="social-icon-link bi-google"></a></li>
                            {% endif %}
                            {% if single_resume.linked != None %}
                            <li class="social-icon-item"><a href="{{ single_resume.linked }}" class="social-icon-link bi-linkedin"></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ps-lg-0">
                    <div class="contact-info d-flex flex-column">
                        <strong class="site-footer-title d-block mb-3">About</strong>
                        <p class="mb-2">
                            My name is {{ single_resume.name }} <br>
                            I'm currently working as a software engineer
                        </p>
                        <strong class="site-footer-title d-block mt-4 mb-3">Email</strong>
                        <p>
                            <a href="mailto:{{ single_resume.email }}">
                                {{ single_resume.email }}
                            </a>
                        </p>
                        <strong class="site-footer-title d-block mt-4 mb-3">Call</strong>
                        <p class="mb-0">
                            <a class="my-custom" href="tel: {{ single_resume.phone }}">
                                {{ single_resume.phone }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                    <form action="#" method="get" class="custom-form contact-form" role="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name"
                                           required="">
                                    <label for="floatingInput">Name</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                           class="form-control" placeholder="Email address" required="">
                                    <label for="floatingInput">Email address</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message"
                                              placeholder="Tell me about the project"></textarea>
                                    <label for="floatingTextarea">Tell me about the project</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12 ms-auto">
                                <button type="submit" class="form-control">Send</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
    </section>

</main>
{% endblock %}
{% endblock %}